/* General */
body {
  background-color: #FFFFFF;
}

h1 {
  font:900 40px Raleway !important;
}

h2 {
  font:800 36px Raleway !important;
}

h3 {
  font:500 30px Raleway !important;
}

h4 {
  font:600 24px Raleway !important;
}

h5 {
  font:600 18px Raleway !important;
}

h6 {
  font:200 16px Raleway !important;
}


p {
  font:16px "Trebuchet MS", Helvetica, sans-serif !important;
  margin-bottom: 20px !important;
}

strong {
  font-weight: bold !important;
}

a {
  text-decoration: none;
}

.clear {
  clear: both;
}

/* Header */
#header {
  height: 362px;
  width: 100%;
  text-align: center;
}

#headerimgwrap {
  display: inline-block;
  height: 100%;
  position: relative;
}

#logo {
  width: 100%;
  height: 100%;
}

#headlogo1 {
  width: 361px;
  height: 92px;
  background: url('images/logo.png') no-repeat;
  z-index: 10;
}

.headlogo2wrap {
  position: relative;
}

#headlogo2 {
  width: 1008px;
  height: 218px;
  background: url('images/header-image.png') no-repeat;
  z-index: 11;
  cursor: pointer;
  position: absolute;
  bottom: 0px;
}


/* Menu */
#menubar {
  cursor: pointer;
  cursor: hand;
  position: relative;
  height: 100%;
  width: 100%;
}

.buttonwrapper {
  position: absolute;
  width: 34px;
  bottom: 5px;
  left: 70px;
}

.centered {
  height: 17px;
  width: 26px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.lines {
  width: 26px;
  height: 3px;
  background-color: #FFFFFF;
  border-radius: 3px;
  position: absolute;
  -webkit-transition:0.5s;
  -moz-transition:0.5s;
  -ms-transition:0.5s;
  -o-transition:0.5s;
  transition:0.5s;
}

#lines1 {
  margin-bottom: 4px;
}

#lines3 {
  margin-top: 4px;
}

#menubut {
  background: transparent;
  color: #FFFFFF;
  font: bold 20px "Arial Black", Gadget, sans-serif;
  float: right;
  outline: 0;
  padding: 0 5px;
  position: absolute;
  bottom: 5px;
  left: 100px;
}

#menubut:hover {
  text-shadow: 0 0 5px #ffffff;
}

.line-button:active, .line-button:visited {
  border: none;
  outline: none;
}

#menu {
  position: absolute;
  bottom: 44px;
  height: 44px;
  width: 1008px;
  overflow: hidden;
  text-align: center;
}

#menu ul {
  position: relative;
}

#menu li {
  display: inline-block;
  z-index: 10;
  position: relative;
}

#menu li a {
  color: #FFFFFF;
  font: 900 20px Raleway;
  text-decoration: none;
  margin: 8px 20px;
  display: block;
  z-index: 11;
  position: relative;
}

.menuSlider {
  background-color: rgba(192,192,192,0.3);
  border-radius: 3px;
  z-index: 1;
  position: absolute;
  border: 1px solid rgba(250,250,250,0.4);
  height: 38px;
}

#menu-static {
  position: fixed;
  z-index: 999;
  top: -45px;
  -webkit-transition:0.5s;
  -moz-transition:0.5s;
  -ms-transition:0.5s;
  -o-transition:0.5s;
  transition:0.5s;
  background: rgb(255,255,255);
  width: 100%;
  -webkit-box-shadow: 0px 0px 10px 1px rgb(100,100,100);
  -moz-box-shadow: 0px 0px 10px 1px rgb(100,100,100);
  box-shadow: 0px 0px 10px 1px rgb(100,100,100);
}

#pecglogo {
  font: 900 20px Raleway;
  float: left;
  margin: 8px 50px;
  color: #428bca;
}

#staticlinks {
  float: right;
  padding-right: 75px;
}

#staticlinks li {
  display: inline-block;
  cursor: pointer;
}

#staticlinks li a {
  font: 900 20px Raleway;
  margin: 8px 20px;
  display: block;
  color: rgb(100,100,100);
  text-decoration: none;
}

#staticlinks li a:hover {
  color: rgb(66,139,202);
}

/* Footer */
#disclaimer {
  padding: 80px 0px 30px 100px;
  font: bold 12px Raleway;
  color: rgb(160,160,160);
  float: left;
}

#footer {
  height: 200px;
  background: #ffffff;
}

#footertext {
  text-align: center;
  font: bold 25px Raleway;
  color: rgb(160,160,160);
  padding-top: 40px;
}

.socialMedia {
  text-align: center;
  padding: 15px 5px;
}

.socialItem {
  display: inline-block;
  padding: 0px 5px;
}



/* Blog Articles */
.headertext {
  font: bold 30px "Verdana", sans-serif;
  margin: 0 0 20px 35px;
  padding-top: 20px;
  text-shadow: 2px 2px 2px #000066;
}

.entry-title {
  float: left;
  padding: 0 30px 15px 30px;
}

.entry-title a {
  font:800 26px Raleway !important;
  color: #428bca;
}

.entry-content {
  padding: 0 30px 0 30px;
}

.entry-utility {
  padding: 0 30px 0 30px;
}

.entry-utility {
  font:700 14px/1.4 Raleway;
  padding-top: 20px;
}

.cat-links a {
  color: rgb(66,139,202);
}

#blogContainer {
  background-color: rgba(200,200,200,0.2);
  overflow: auto;
  text-align: center;
}

#blogWrap {
  overflow: auto;
  display: inline-block;
  padding: 40px 0;
}

#blogContent {
  width: 700px;
  text-align: left;
  float: left;
}

/* Blog Article Wrap and Arrow */
.singleArticle {
  border: 2px solid rgba(0,0,0,0);
  padding: 30px 0;
  position: relative;
}

.articleborders {
  border: 2px solid rgba(192,192,192,1);
  -webkit-transition:0.05s;
  -moz-transition:0.05s;
  -ms-transition:0.05s;
  -o-transition:0.05s;
  transition:0.05s;
  border-radius: 3px;
}

.arrow {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #ffffff;
  margin: 5px 10px;
  display: inline-block;
  -webkit-transition:0.5s;
  -moz-transition:0.5s;
  -ms-transition:0.5s;
  -o-transition:0.5s;
  transition:0.5s;
}

.arrowwrap {
  height: 30px;
  background-color: rgba(192,192,192,1);
  position: absolute;
  top: 0px;
  right: 0px;
}

/* Sidebar Widget */
.blogSidebar {
  margin-top: 140px;
  float: left;
  text-align: left;
}

.widget-container {
  padding: 10px 20px;
  border: 1px solid rgba(160,160,160,0.2);
  border-radius: 5px;
  margin: 15px 0;
  background-color: #ffffff;
}

.widget-container ul {
  font:600 14px Raleway;
  padding: 3px 0px;
  color: rgb(66,139,202);
}

.widget-container ul li a {
  color: rgb(66,139,202);
}

.widget-area {
  padding-left: 10px;
}

.searchbar {
  text-align: center;
  overflow: auto;
  width: 100%;
}

#searchinput {
  width: 98%;
  font:600 20px Raleway !important;
  display: inline-block;
  border: 2px solid rgb(160,160,160);
  border-radius: 3px;
  margin: 5px 0px;
}

input[type="submit"] {
  border: 2px solid rgb(160,160,160);
  display: block;
  background-color: #ffffff;
  padding: 5px 5px;
  border-radius: 3px;
  font:600 16px Raleway !important;
  color: rgb(160,160,160);
}

input[type="submit"]:hover {
  background-color: rgb(160,160,160);
  color: #ffffff;
}

.widget-title {
  color: rgb(160,160,160);
  font: bold 20px Raleway !important;
  padding-bottom: 5px;
}


/* Standard Template */
.homePage {
  background: rgba(200,200,200,0.2);
  text-align: center;
}

.pageWrapper {
  width: 909px;
  padding: 50px;
  display: inline-block;
  text-align: left;
}


/* Single Posts */
.postContent {
  padding: 0 30px;
}

#postWrapper {
  text-align: center;
  background-color: rgba(200,200,200,0.2);
}

.singlePost {
  width: 909px;
  display: inline-block;
  text-align: left;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 60px 0;
  padding: 30px 0;
}

#nav-below {
  overflow: auto;
  padding: 40px 20px;
  text-align: center;
}
