/* General */
body {
  background-color: #FFFFFF;
}

h1 {
  font: bold 25px "Arial Black", Gadget, sans-serif !important;
}

h2 {
  font: bold 20px "Arial Black", Gadget, sans-serif !important;
  color: rgb(100,100,100);
}

a {
  text-decoration: none;
  color: #428bca;
}

.clear {
  clear: both;
}

/* Header */
#header {
  height: 362px;
  width: 100%;
  text-align: center;
}

#headerimgwrap {
  display: inline-block;
  height: 100%;
  position: relative;
}

#logo {
  width: 100%;
  height: 100%;
}

#headlogo1 {
  width: 361px;
  height: 92px;
  background: url('images/logo.png') no-repeat;
  z-index: 10;
}

.headlogo2wrap {
  position: relative;
}

#headlogo2 {
  width: 1008px;
  height: 218px;
  background: url('images/header-image.png') no-repeat;
  z-index: 11;
  cursor: pointer;
  position: absolute;
  bottom: 0px;
}


/* Menu */
#menubar {
  cursor: pointer;
  cursor: hand;
  position: relative;
  height: 100%;
  width: 100%;
}

.buttonwrapper {
  position: absolute;
  width: 34px;
  bottom: 5px;
  left: 70px;
}

.centered {
  height: 17px;
  width: 26px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.lines {
  width: 26px;
  height: 3px;
  background-color: #FFFFFF;
  border-radius: 3px;
  position: absolute;
  -webkit-transition:0.5s;
  -moz-transition:0.5s;
  -ms-transition:0.5s;
  -o-transition:0.5s;
  transition:0.5s;
}

#lines1 {
  margin-bottom: 4px;
}

#lines3 {
  margin-top: 4px;
}

#menubut {
  background: transparent;
  color: #FFFFFF;
  font: bold 20px "Arial Black", Gadget, sans-serif;
  float: right;
  outline: 0;
  padding: 0 5px;
  position: absolute;
  bottom: 5px;
  left: 100px;
}

#menubut:hover {
  text-shadow: 0 0 5px #ffffff;
}

.line-button:active, .line-button:visited {
  border: none;
  outline: none;
}

#menu{
  position: absolute;
  bottom: 44px;
  height: 44px;
  width: 1008px;
  overflow: hidden;
  text-align: center;
}

#menu ul {
  position: relative;
}

#menu li {
  display: inline-block;
  z-index: 10;
  position: relative;
}

#menu li a {
  color: #FFFFFF;
  font: bold 20px "Verdana", sans-serif;
  text-decoration: none;
  margin: 8px 20px;
  display: block;
  z-index: 11;
  position: relative;
}

.menuSlider {
  background-color: rgba(192,192,192,0.3);
  border-radius: 3px;
  z-index: 1;
  position: absolute;
  border: 1px solid rgba(250,250,250,0.4);
  height: 38px;
}

#menu-static {
  position: fixed;
  z-index: 999;
  top: -45px;
  -webkit-transition:0.5s;
  -moz-transition:0.5s;
  -ms-transition:0.5s;
  -o-transition:0.5s;
  transition:0.5s;
  background: rgb(255,255,255);
  width: 100%;
  -webkit-box-shadow: 0px 0px 10px 1px rgb(100,100,100);
  -moz-box-shadow: 0px 0px 10px 1px rgb(100,100,100);
  box-shadow: 0px 0px 10px 1px rgb(100,100,100);
}

#pecglogo {
  font: bold 20px "Verdana", sans-serif;
  float: left;
  margin: 8px 50px;
  color: #428bca;
}

#staticlinks {
  float: right;
  padding-right: 75px;
}

#staticlinks li {
  display: inline-block;
  cursor: pointer;
}

#staticlinks li a {
  font: bold 20px "Verdana", sans-serif;
  margin: 8px 20px;
  display: block;
  color: rgb(100,100,100);
  text-decoration: none;
}

/* Footer */
#disclaimer {
  padding: 80px 0px 30px 100px;
  font: bold 10px "Verdana", sans-serif;
  color: rgb(160,160,160);
  float: left;
}

#footer {
  height: 200px;
  background: #ffffff;
  font: bold 30px "Verdana", sans-serif;
  height: 100%;
}

#footertext {
  text-align: center;
  font: bold 25px "Verdana", sans-serif;
  color: rgb(160,160,160);
  padding-top: 40px;
}

.socialMedia {
  text-align: center;
  padding: 15px 5px;
}

.socialItem {
  display: inline-block;
}


/* Home Page */
.homePage {
  background: rgba(160,160,160,0.5);
  text-align: center;
}

.pageWrapper {
  width: 1077px;
  padding: 50px;
  display: inline-block;
}

.pageHeader {
  text-align: center;
  background: #ffffff;
  width: 100%;
}

.lineBreak {
  border-bottom: 4px solid rgb(160,160,160);
}

.pageContent {
  padding-top: 30px;
  text-align: center;
}


/* Blog Articles */
.headertext {
  font: bold 30px "Verdana", sans-serif;
  margin: 0 0 20px 35px;
  padding-top: 20px;
  text-shadow: 2px 2px 2px #000066;
}

.entry-title {
  font: bold 30px "Verdana", sans-serif;
  color: #428bca;
  text-decoration: none !important;
  float: left;
  padding: 30px 30px 5px 30px;
}

.entry-content {
  padding: 0 30px 0 30px;
}

.entry-utility {
  padding: 0 30px 0 30px;
}

#blogContent {
  width: 70%;
  float: left;
}

.blogSidebar {
  width: 30%;
  float: left;
}

#blogContainer {
  background-color: rgba(200,200,200,0.2);
  padding: 50px 170px 60px 170px;
  overflow: auto;
}

.post {
  border: 2px solid rgba(0,0,0,0);
  padding-bottom: 30px;
  position: relative;
}

.articleborders {
  border: 2px solid rgba(192,192,192,1);
  -webkit-transition:0.05s;
  -moz-transition:0.05s;
  -ms-transition:0.05s;
  -o-transition:0.05s;
  transition:0.05s;
}

.arrow {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #ffffff;
  margin: 5px 10px;
  display: inline-block;
  -webkit-transition:0.5s;
  -moz-transition:0.5s;
  -ms-transition:0.5s;
  -o-transition:0.5s;
  transition:0.5s;
}

.arrowwrap {
  height: 30px;
  background-color: rgba(192,192,192,1);
  position: absolute;
  top: 0px;
  right: 0px;
}

/* Sidebar Widget */
.widget-container {
  padding: 10px 5px;
  border: 1px solid rgba(160,160,160,0.2);
  border-radius: 5px;
  margin: 15px 0;
  background-color: rgba(250,250,250,1);
}

.widget-area {
  padding-left: 10px;
}
